.background {
    -fx-background-color: #010055;
}

.custom-text-field {
    -fx-background-color:
        #FFFFFF,
        #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
 }

.custom-text-field:focused {
    -fx-background-color:
        #0093EF,
        #FFFFFF;
}

.custom-text-field:hover {
    -fx-background-color:
        #909090,
        #FFFFFF;
}

.custom-text-field:focused:hover {
    -fx-background-color:
        #0093EF,
        #FFFFFF;
}

.label {
    -fx-font-size: 8pt;
    -fx-text-fill: #D2E2F5;
}

.slider{
    -fx-border-width: 2;
}

.slider .track {
    -fx-background-color: #04A2E6;
}

.slider .axis .axis-tick-mark{
    -fx-stroke: #97C3D5;
}

.slider .axis {
    -fx-tick-label-fill: #97C3D5;
}


.button {  
    -fx-background-color:
        #191985,
        linear-gradient(#3E82CB, #034183),
        linear-gradient(#2222B2, #191985);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: #d8d8d8;
}

.button:hover {
    -fx-background-color:
        #191985,
        linear-gradient(#033872, #3B74B0),
        linear-gradient(#161675, #1F1FA1);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color:
        #191985,
        linear-gradient(#022A55, #2E5B8C),
        linear-gradient(#11115A, #19197B);
  -fx-text-fill: #8C8C94;
}