.background {
    -fx-background-color: #010055;
}

.button {
    -fx-padding: 5 15 5 15;   
    -fx-background-color:
        #191985,
        linear-gradient(#3E82CB, #034183),
        linear-gradient(#2222B2, #191985);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
}

.button:hover {
    -fx-background-color:
        #191985,
        linear-gradient(#033872, #3B74B0),
        linear-gradient(#161675, #1F1FA1);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color:
        #191985,
        linear-gradient(#022A55, #2E5B8C),
        linear-gradient(#11115A, #19197B);
  -fx-text-fill: #8C8C94;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}